*{
  margin: none;
  background-color: none;
  padding: none;
}
.App{
  margin-top: 100px;
  background-color: #282c34;
  
}
.Box{
  margin: 20px;
  width: 300px;
  
}
div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}


